@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


/* Css générique à tout le site */

body{
    background-color: rgb(0,50,50);
    color : rgb(255,255,255);
    font-family: 'Josefin Sans', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    height: 100vh;
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: center;
    height: 10vh;
}

header ul{
    display: flex;
    padding: 10px 10px 20px 10px
}

header ul li{
    margin: 10px 20px;
}

h2{
    padding-bottom: 50px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.socials{
    width: 80px;
    height: 300px;
    background-color: rgb(255,255,255);
    border-radius: 30px 0 0 30px;
    position: fixed;
    right: 0;
    top: 27vh;
}

.social{
    width: 100%;
    height: 33.3%;
    color: rgb(20,20,20);
}

.social svg{
    fill: rgb(0,50,50);
}

a:hover{
    color: rgb(20, 243, 157);
}
.wave{
    fill : rgb(0,0,0);
    width : 100vw;
    height: 47vh;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -99;
}


/****************************** CSS de la Home Page ***************/
.main{
    margin-top: 8.5vh;
    text-align: center;
    margin-bottom: 9vh;
}

.main__title{
    font-size: 160px;
    font-weight: 700;
}

.light-text{
    font-weight: 100;
    font-size: 100px;
    z-index: 99;
}

.options{
    display: flex;
    justify-content: center;
}

.options a{
    padding : 20px;
}

.footer__links{
    display: flex;
    padding-top: 60px;
    margin: 0;
    text-align: center;
    padding-left: 0;
}

.footer__link{
    margin: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}





/************************ Project page ******************/
.project {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.project-details {
    font-size: 1.2rem;
    width: 70%
}

.project-details td {
    padding: 50px 20px;
    vertical-align: top;
}

.project-details td a{
    text-decoration: underline;
    text-underline-position: under;
}
.page-footer{
    position: static;
    background-color: rgb(0,0,0);
}

.fixed{
 position: fixed;
}


/*********************** Stack page *******************/
.stack{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.stack h3{
    padding: 1rem;
}

/*********************** Contact page *******************/

.contact{
    margin-top: 15vh;
    margin-bottom: 21vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form{
    width: 50%;
    margin : 0 auto;
    font-size: 24px;
}

form input, form select{
    height: 50px;
}

form button {
    padding: 10px;
    border-radius: 15%;
    border: none;
    color: rgb(0,50,50);
}

form button:hover{
    background-color: rgb(50,50,50);
    color: rgb(255,255,255);
    border: 1px solid black;
 }




 @media only screen and (max-width: 768px) {
    .socials {
        display: none;
    }

    .project-details{
        width: 95%;
        font-size: 1rem;
    }
    .project-details td {
        padding: 50px 0px;
    }
    }
